<footer class="footer-section footer-2 bg-dark-1">
  <div class="shape">
    <img src="/assets/img/shapes/footer-shape-2.png" alt="footer" />
  </div>
  <div class="container">
    <div class="row footer-items">
      <div class="col-md-4">
        <div class="footer-item">
          <div class="icon">
            <img src="/assets/img/icon/footer-1.png" alt="icon" />
          </div>
          <div class="content">
            <span
              >{{ data.address1 }} <br />
              {{ data.address2 }}</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-item item-2 gy-lg-0 gy-4">
          <div class="icon">
            <img src="/assets/img/icon/footer-2.png" alt="icon" />
          </div>
          <div class="content">
            <ul>
              <li>
                Email :
                <a href="mailto:{{ data.email }}">{{ data.email }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-item item-3">
          <div class="icon">
            <img src="/assets/img/icon/footer-3.png" alt="icon" />
          </div>
          <div class="content">
            <ul>
              <li>
                Mobile : <a href="tel:{{ data.phone }}">{{ data.phone }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer-wrap">
      <div class="col-lg-4 col-md-6">
        <div class="footer-widget">
          <h3 class="widget-header">
            <img src="/assets/img/logo/logo-2.png" alt="logo" />
          </h3>
          <p class="mb-30">
            Lorem ipsum dolor amet, consectetur sell <br />
            adipis elit phase nibh ellentes
          </p>
          <ul class="social-list">
            <li class="facebook">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="pinterest">
              <a href="#"><i class="fab fa-pinterest"></i></a>
            </li>
            <li class="twitter">
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="instagram">
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="footer-widget widget-2">
          <h3 class="widget-header">Company</h3>
          <div class="footer-list-wrap">
            <ul class="footer-list">
              {% set navPages = collections.all | eleventyNavigation %} {%- for
              entry in navPages %}
              <li>
                <a href="{{ entry.url }}">{{ entry.title }}</a>
              </li>
              {%- endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="footer-widget">
          <h3 class="widget-header">Newsletter</h3>
          <p>Lorem Ipsum is simply is dumiomy is text.</p>
          <div class="footer-form">
            <form action="#" class="mt-subscribe-form">
              <input
                class="form-control"
                type="email"
                name="email"
                placeholder="Your e-mail"
                required=""
              />
              <input type="hidden" name="action" value="mailchimpsubscribe" />
              <button class="submit">
                <i class="fa-regular fa-arrow-right"></i>
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="copyright-content">
        <p>© PixFix 2024 | All Rights Reserved</p>
        <ul class="copy-list">
          <li><a href="contact.html">Terms & Condition</a></li>
          <li><a href="contact.html">Privacy Policy</a></li>
          <li><a href="/contact/">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- ./ footer-section -->

<div id="scrollup">
  <button id="scroll-top" class="scroll-to-top">
    <i class="fa-regular fa-arrow-up-long"></i>
  </button>
</div>
<!--scrollup-->
