<div class="skill-content">
  <div class="section-heading heading-2">
    <h4 class="sub-heading">Our Skills</h4>
    <h2 class="section-title">Experience Unmatched HVAC Expertise</h2>
  </div>
  <div class="skills-items">
    <div class="skills-item">
      <h4 class="title">HVAC Installation</h4>
      <div class="progress">
        <div
          class="progress-bar wow slideInLeft animated"
          data-wow-delay="0ms"
          data-wow-duration="2000ms"
          role="progressbar"
          style="
            width: 95%;
            visibility: visible;
            animation-duration: 2000ms;
            animation-delay: 0ms;
            animation-name: slideInLeft;
          "
        >
          <span>95%</span>
        </div>
      </div>
    </div>
    <div class="skills-item">
      <h4 class="title">AC Repair</h4>
      <div class="progress">
        <div
          class="progress-bar wow slideInLeft animated"
          data-wow-delay="0ms"
          data-wow-duration="2000ms"
          role="progressbar"
          style="
            width: 90%;
            visibility: visible;
            animation-duration: 2000ms;
            animation-delay: 0ms;
            animation-name: slideInLeft;
          "
        >
          <span>90%</span>
        </div>
      </div>
    </div>
    <div class="skills-item">
      <h4 class="title">Heating System Maintenance</h4>
      <div class="progress">
        <div
          class="progress-bar wow slideInLeft animated"
          data-wow-delay="0ms"
          data-wow-duration="2000ms"
          role="progressbar"
          style="
            width: 88%;
            visibility: visible;
            animation-duration: 2000ms;
            animation-delay: 0ms;
            animation-name: slideInLeft;
          "
        >
          <span>88%</span>
        </div>
      </div>
    </div>
    <div class="skills-item">
      <h4 class="title">Indoor Air Quality Improvement</h4>
      <div class="progress">
        <div
          class="progress-bar wow slideInLeft animated"
          data-wow-delay="0ms"
          data-wow-duration="2000ms"
          role="progressbar"
          style="
            width: 92%;
            visibility: visible;
            animation-duration: 2000ms;
            animation-delay: 0ms;
            animation-name: slideInLeft;
          "
        >
          <span>92%</span>
        </div>
      </div>
    </div>
  </div>
</div>
