<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />

    <!-- Site Title -->
    <title>{{ title }}</title>

    <!-- Place favicon.ico in the root directory -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/img/favicon.png"
    />

    <!-- CSS here -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/assets/css/venobox.min.css" />
    <link rel="stylesheet" href="/assets/css/animate.min.css" />
    <link rel="stylesheet" href="/assets/css/keyframe-animation.css" />
    <link rel="stylesheet" href="/assets/css/odometer.min.css" />
    <link rel="stylesheet" href="/assets/css/swiper.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>

  <body>
    {% include "header/header.njk" %}

    {{ content | safe }}

    <!-- <section class="blog-section pt-120 pb-120">
            <div class="container">
                <div class="section-heading text-center">
                    <h4 class="sub-heading wow fade-in-bottom" data-wow-delay="300ms">Our Blogs</h4>
                    <h2 class="section-title wow fade-in-bottom" data-wow-delay="500ms">Say goodbye to AC problems with our <br>professional repair services</h2>
                </div>
                <div class="row gy-lg-0 gy-4 justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="post-card wow fade-in-bottom" data-wow-delay="200ms">
                            <div class="post-thumb">
                                <img src="/assets/img/blog/post-1.jpg" alt="post">
                                <h4 class="category">Oct 19</h4>
                            </div>
                            <div class="post-content-wrap">
                                <ul class="post-meta">
                                    <li><i class="fa-regular fa-user"></i>By <a href="#">Admin</a></li>
                                    <li><i class="fa-regular fa-messages"></i>Comments (02)</li>
                                </ul>
                                <div class="post-content">
                                    <h3 class="title">
                                        <a href="blog-details.html"
                                            >Get back to comfort with our  AC repair solutions</a
                                        >
                                    </h3>
                                    <p class="desc">
                                        Medical is a field that de with the study, diagnosis, and treatment diseases loren dummy
                                    </p>
                                    <a href="#" class="read-more">Read More <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="post-card wow fade-in-bottom" data-wow-delay="400ms">
                            <div class="post-thumb">
                                <img src="/assets/img/blog/post-2.jpg" alt="post">
                                <h4 class="category">Oct 19</h4>
                            </div>
                            <div class="post-content-wrap">
                                <ul class="post-meta">
                                    <li><i class="fa-regular fa-user"></i>By <a href="#">Admin</a></li>
                                    <li><i class="fa-regular fa-messages"></i>Comments (02)</li>
                                </ul>
                                <div class="post-content">
                                    <h3 class="title">
                                        <a href="blog-details.html"
                                            >We specialize in AC  home cool all year round</a
                                        >
                                    </h3>
                                    <p class="desc">
                                        Medical is a field that de with the study, diagnosis, and treatment diseases loren dummy
                                    </p>
                                    <a href="#" class="read-more">Read More <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="post-card wow fade-in-bottom" data-wow-delay="600ms">
                            <div class="post-thumb">
                                <img src="/assets/img/blog/post-3.jpg" alt="post">
                                <h4 class="category">Oct 19</h4>
                            </div>
                            <div class="post-content-wrap">
                                <ul class="post-meta">
                                    <li><i class="fa-regular fa-user"></i>By <a href="#">Admin</a></li>
                                    <li><i class="fa-regular fa-messages"></i>Comments (02)</li>
                                </ul>
                                <div class="post-content">
                                    <h3 class="title">
                                        <a href="blog-details.html"
                                            >Reliable AC repair services at affordable prices</a
                                        >
                                    </h3>
                                    <p class="desc">
                                        Medical is a field that de with the study, diagnosis, and treatment diseases loren dummy
                                    </p>
                                    <a href="#" class="read-more">Read More <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    <!-- ./ blog-section -->

    {% include "footer/footer.njk" %}

    <!-- JS here -->
    <script src="/assets/js/vendor/jquary-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="/assets/js/vendor/bootstrap-bundle.js"></script>
    <script src="/assets/js/vendor/imagesloaded-pkgd.js"></script>
    <script src="/assets/js/vendor/waypoints.min.js"></script>
    <script src="/assets/js/vendor/venobox.min.js"></script>
    <script src="/assets/js/vendor/odometer.min.js"></script>
    <script src="/assets/js/vendor/meanmenu.js"></script>
    <script src="/assets/js/vendor/smooth-scroll.js"></script>
    <script src="/assets/js/vendor/jquery.isotope.js"></script>
    <script src="/assets/js/vendor/wow.min.js"></script>
    <script src="/assets/js/vendor/swiper.min.js"></script>
    <script src="/assets/js/ajax-form.js"></script>
    <script src="/assets/js/slider.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
